[2020-03-30 11:22] efucile opened #4 "New sub-category for TC tracks from deterministic"
# Summary and purpose
This document proposes new entry to Common Code Tables C-13 in order to represent forecasted tropical cyclone from deterministic forecast system.

# Action proposed
The meeting is kindly asked to approve the contents for inclusion within the next update to the WMO Manual on Codes.

# Discussions
Tropical cyclone size forecasts became available within the new ECMWF model opera

[2020-03-30 13:11] efucile commented on #4
Please @wmo-im/tdcf have a look at this proposal.

[2020-03-30 13:13] efucile commented on #4
@sebvi can you clarify what is your proposal

[2020-03-31 11:55] efucile opened #5 "script to produce legacy machine readable formats"
In this repository we have csv files used as master copy of the tables. We need to publish XML version of these files as already available from here https://community.wmo.int/activity-areas/wmo-codes/manual-codes/latest-version
We need a python script to convert the csv files to the legacy formats, including xml and the file names.
From the user point of view we want to provide continuity and the

[2020-03-31 11:56] efucile commented on #5
From @marianmajan-ibl :

Multiple options for csv to xml are listed on the page https://help.ubuntu.com/community/Converting%20CSV%20to%20XML, I usually need to convert only one-two files and in such case I use the online converter — https://www.convertcsv.com/csv-to-xml.htm — works well.

I have simply modified the script from the webpage above, it reads all csv files in the directory (not in sub

[2020-03-31 12:04] erget commented on #5
EUMETSAT can also both import and export in the WMO XML and CSV formats. So if we continue to produce CSV I can use our Vocabulary Manager's REST API to produce the XML on demand.

[2020-03-31 12:12] efucile commented on #5
Given that the conversion is a simple task I would prefer to have a python in the repository so that we can run it in the release phase. It can also be useful in the validation step because some of the centres are consuming XML not csv and to validate they need to get the XML. Actually we could have a github actions or ci-travis producing the XML from the csv in the repository. This would give us

[2020-04-01 07:34] marianmajan-ibl commented on #5
Enrico, would you like me to commit the script somewhere?

[2020-04-01 07:51] efucile commented on #5
Yes Marian,
please push the script in this branch [csv-to-xml](https://github.com/wmo-im/CCT/tree/csv-to-xml) that we are going to use as feature branch for this issue.

[2020-04-01 08:07] marianmajan-ibl commented on #5
Committed. We should discuss the other requirements (merging of tables to one file?), but this can be done anytime later.

[2020-04-01 08:20] efucile commented on #5
I agree can be done later. However, the requirement is to produce exactly what we have now on the web.
A good test for the script could be to produce the content of this directory [fromWeb/Common_20200506](https://github.com/wmo-im/CCT/tree/master/fromWeb/Common_20200506) from the current csv files in the repo. This should be done for all the other repositories BUFR4 and GRIB2. I would start from

[2020-04-22 07:14] ktsuboi-jma opened #6 "Amendment to Common Code table C-3 by Japan"
# Summary and purpose
JMA proposes an amendment to Common Code table C-3 to introduce new models of XCTD (eXpendable Conductivity Temperature Depth profiler) probes.

# Action proposed
JMA asks the team to review the proposal and accept it for FT2020-2.

# Discussions
New models of XCTD probes (XCTD-1N, XCTD-2N, XCTD-3N and XCTD-4N) will be introduced by TSK (Tsurumi-seiki Co., Ltd).
New specifica

[2020-04-24 01:02] Annie-FangZHAO opened #7 "Add a new entry to Common Code Tables C-11 to identify IAP"
### **Summary and purpose**
This document proposes a new entry to Common Code Tables C-11 to identify the Institute of Atmospheric Physics (IAP) of Chinese Academy of Sciences (CAS).
### **Action proposed**
The meeting is kindly invited to review the proposed new entry and approve it for pre-operational use and inclusion within the next update to the WMO Manual on Codes.
### **Discussions**
The In

[2020-04-24 12:14] erget opened #8 "Proposal for new entry in Common Code Tables C5"
# Summary and purpose
This document proposes a new entry to Common Code Tables C5 in order to multiple Sentinel-3 satellites.

# Action proposed
The meeting is requested to approve the contents for inclusion within the next update to the WMO Manual on Codes.

# Discussions
EUMETSAT will produce atmospheric motion vectors using data from the SLSTR instrument (Sea and land surface temperature radiom

[2020-04-24 16:04] marijanacrepulja opened #9 "New sub-category for Mode-S in C-13"
# Summary and purpose
 ECMWF proposes new entry to Common Code Tables C-13 in order to represent Mode-S aircraft data.

# Action proposed
The meeting is kindly asked to approve the contents for inclusion within the next update to the WMO Manual on Codes.

# Discussions
ECMWF is working on processing Mode-S reports. The data are available in BUFR AMDAR v7 format for time being. In order to allow th

[2020-04-24 18:32] jbathegit opened #10 "new CCT C-1/11, C-5 and C-8 entries for commercial providers of radio occultation data"
# Summary and purpose
This document proposes new entries in Common Code Tables C-1, C-11, C-5 and C-8 for commercial providers of radio occultation data.

# Action proposed
The team is requested to review and approve the new entries for inclusion in the November 2020 fast-track updates.

# Discussions
NOAA is presently in discussion with commercial entities to provide supplementary radio occultati

[2020-04-26 10:07] Annie-FangZHAO opened #11 "Add 3 new entries to C-2 for radiosondes of China"
# Summary and purpose
This document proposes new entries to Common Code Tables C-2 to identify new radiosondes of China.

# Action proposed
The meeting is kindly invited to review the proposed new entries and approve it for pre-operational use and inclusion within the next update to the WMO Manual on Codes.

# Discussions
GTS1-1(31/131), GTS1(32/132) and GTS 1-2(33/133) radiosondes have been opera

[2020-04-28 12:52] sebvi opened #12 "add new chemical species, aerosols and pollen in Common Code Table 14"
# Summary and purpose
ECMWF requires new entries in Common Code Table to support the development of the Chemical Composition modelling and the Copernicus Atmospheric Monitoring Service (CAMS).

# Action proposed
ECMWF kindly asks the team to review the proposal and accept it during the next session.

# Discussions

# Detailed proposal

add in Common Code Table C-14
| Code | Meaning | Chemical Form

[2020-04-28 13:43] erget opened #13 "Proposal for new entries in Common Code Tables C5 and C8"
# Summary and purpose
This document proposes new entries to Common Code Tables C5 and C8 in order to represent satellites and instruments operated by ROSHYDROMET.

# Action proposed
The meeting is requested to approve the contents for inclusion within the next update to the WMO Manual on Codes.

# Discussions
A number of key meteorological satellite launches are foreseen in the coming months. In o

[2020-05-02 12:33] efucile commented on #5
@marianmajan-ibl @erget @tomkralidis
we have now a workflow on this branch https://github.com/wmo-im/CCT/blob/csv-to-xml/.github/workflows/main.yml
At every push or pull_request it is re-creating all the xml files and pushing them in the same branch. This should be enough to keep the xml files aligned with the csv version.
Can you please have a look? If this is ok we can do the same in GRIB and BU

[2020-05-02 13:25] efucile commented on #5
@erget @marianmajan-ibl @tomkralidis
just to mention that the script has a little problem. It fails if the change is not on the tables. This is because the git push after the creation of xml files fails because there is no change.
Not sure how to solve, but it's not a blocking issue.

[2020-05-03 11:44] tomkralidis commented on #5
I've made some minimal changes in #15 . Other comments for consideration:

- unless anyone is using these XML files with a validating XML parser, the XSD's might be overkill?
- is the output XML format fixed/legacy?  Is there opportunity to improve it?
- should we consider JSON as an additional option?
- should we be creating the XML files on every commit or every official release?

[2020-05-04 06:53] efucile commented on #5
Thanks @tomkralidis I am trying to answer your questions.
- I think that xsd is not needed in this context. We'll try to release without xsd.
- we should consider it as fixed legacy
- agree that a json format could be useful. Do we have a requirement? Who is going to use it?
- I think that we need at every commit because we want to give people to test the tables at any time of the development. Rel

[2020-05-04 11:41] tomkralidis commented on #5
Thanks @efucile and +1 to your comments.  RE: JSON: no requirement, but perhaps an opportunity for some point in the future.

[2020-05-05 06:52] efucile opened #19 "acceptance of open source license terms for IBL software contributions"
Hi @marianmajan-ibl and @tomkralidis,

can you please confirm that all your contributions to the following repositories
https://github.com/wmo-im/GRIB2
https://github.com/wmo-im/BUFR4
https://github.com/wmo-im/CCT

are given under the following license:

https://github.com/wmo-im/GRIB2/blob/master/LICENSE.md
https://github.com/wmo-im/BUFR4/blob/master/LICENSE.md
https://github.com/wmo-im/CCT/blob/

[2020-05-05 06:55] erget commented on #19
@efucile I think that if you send a PR to a repo with a given license, and in your PR you don't remove that license, you're essentially licensing your work under that license and therefore it's accepted implicitly.

[2020-05-05 06:57] efucile commented on #19
@erget thanks. I realized that there wasn't a license in the repo when we made the PR and I want to be sure that the new license is accepted.

[2020-05-05 07:13] erget commented on #5
The XSDs are definitely overkill because they define the same schema but with a different name for each table version and therefore can't be re-used.

Agree that the full set of assets should be produced in the next-release branch for testing at all times.

Also agree thta JSON would be useful, but we've survived without it thus far so we might consider it an enhancement. Incidentally, in the Voca

[2020-05-05 11:20] tomkralidis commented on #19
@efucile I confirm.

[2020-05-05 12:01] marianmajan-ibl commented on #19
@efucile I confirm we accept the license.

[2020-05-05 13:38] efucile commented on #19
thanks @marianmajan-ibl and @tomkralidis

[2020-05-05 13:38] #19 closed

[2020-05-07 11:43] #5 closed

[2020-05-07 11:44] efucile opened #20 "Validate machine-readable legacy format"
Machine-readable legacy format has been included in the master branch. We need to verify that the format satisfies users requirements.

[2020-05-07 11:48] efucile commented on #20
xml format here (https://github.com/wmo-im/CCT/tree/master/xml)

[2020-05-13 08:35] efucile commented on #11
Dear @Annie-FangZHAO
can you please write your proposal in the template in the first box? We don't accept word files for the proposal. Thanks

@jitsukoh we need to make sure that all the proposals are made using the template otherwise it becomes difficult for us to process them

[2020-05-19 03:36] Annie-FangZHAO commented on #11
Dear @efucile
Sorry for the delay in response. I didn't receive the notification email from GitHUB of your comment, untile yesterday Xiaoxia sent me a message. The proposal has been revised using the template.
Bye the way, for the milestone, could we separate pre-operational use from FT-202-2? Thank you.

[2020-05-19 04:03] Annie-FangZHAO commented on #7
Dear @efucile
I moved this proposal by mistake to “Submitted” this morning, could you please kinedly move it back to “In validation”. Thank you very much.
Bye the way, for the milestone, could we seprate pre-operational use from FT-2020-2?

[2020-06-22 11:50] sebvi commented on #12
@chenxiaoxia2019  The branch looks good (I assume you created only one branch for the the Common Code Table modifs and not one per issue)

[2020-06-22 12:16] erget commented on #8
@chenxiaoxia2019 I see the "has branch" label but am unable to find the branch - can you point me in the right direction? Thanks very much!

[2020-06-22 12:48] erget commented on #13
@chenxiaoxia2019 I see the "has branch" tag but am unable to find the branch. It looks like the branch [FT-2020-2](https://github.com/wmo-im/CCT/compare/FT-2020-2) contains all changes though. I can't vouch for the entire branch because it contains also other changes but at least it's not missing anything from this proposal.

[2020-06-22 13:53] jbathegit commented on #10
@chenxiaoxia2019 , @efucile , @jitsukoh

I reviewed the new C-1/C-11, C-5 and C-8 entries in the FT2020-2 branch for CCT.  Everything looks fine with respect to the items in this proposal.

[2020-06-23 04:54] ktsuboi-jma commented on #6
@chenxiaoxia2019
I reviewed the amendment for Common Code table C-3.
It looks fine.
Thank you.

[2020-06-24 01:30] Annie-FangZHAO commented on #7
@chenxiaoxia2019 @efucile @jitsukoh
I reviewed the new entry to C-11 in the FT2020-2 branch for CCT. It looks fine. Thank you.

[2020-06-24 01:36] Annie-FangZHAO commented on #11
@chenxiaoxia2019 @efucile @jitsukoh
I reviewed new entries to C-2 in the FT2020-2 branch for CCT. Everything looks fine. Thank you.

[2020-06-24 16:48] marijanacrepulja commented on #4
@chenxiaoxia2019 , @efucile , @jitsukoh

I reviewed the new C-13 entry in the FT2020-2 branch for CCT. Everything looks fine.

[2020-06-24 16:49] marijanacrepulja commented on #9
@chenxiaoxia2019 , @efucile , @jitsukoh

I reviewed the new C-13 entry in the FT2020-2 branch for CCT. It looks fine.

[2020-07-29 08:36] chenxiaoxia2019 opened #21 "Comments received on DRAFT AMENDMENTS TO THE MANUAL ON CODES, VOLUME I.2 (WMO-NO. 306) BY FAST-TRACK PROCEDURE"
# Summary and purpose
_DRAFT AMENDMENTS TO THE MANUAL ON CODES, VOLUME I.2 (WMO-NO. 306) BY FAST-TRACK PROCEDURE_ has been sent out on 28 July, 2020.

The focal points for codes and data representation matters are invited to review and comment by 29 September, 2020.

There are 9 proposals in _Part C – Common Features to Binary and Alphanumeric Codes_, from No.24 to No.32.

# Action proposed
Commen

[2020-07-30 07:26] amilan17 commented on #4
SUMMARY: Add entry in Common Code Table C-13.

[2020-07-30 07:28] amilan17 commented on #6
SUMMARY: Modify entries in Common Code Table C-3.

[2020-07-30 07:30] amilan17 commented on #7
SUMMARY: Add entry to Common Code Table C-11.

[2020-07-30 07:32] amilan17 commented on #8
SUMMARY: Add entry to Common Code Tables C-5.

[2020-07-30 07:34] amilan17 commented on #9
Add entry to Common Code Table C-13.

[2020-07-30 07:37] amilan17 commented on #10
SUMMARY: Add entries to Common Code Tables C-1, C-5, C-8 and C-11.

[2020-07-30 07:39] amilan17 commented on #11
SUMMARY: Add entries to Common Code Table C-2.

[2020-07-30 07:43] amilan17 commented on #12
SUMMARY: Add entries to Common Code Table C-14.

[2020-07-30 07:45] amilan17 commented on #13
SUMMARY: Add entries to Common Code Tables C-5 and C-8.

[2020-09-29 06:47] amilan17 opened #22 "Maupuia is misspelled in Table C-12"
# Branch
https://github.com/wmo-im/CCT/tree/issue-22

# Summary and purpose
Fix spelling of "Maupia" to "Maupuia"

204, National Institute of Water and Atmospheric Research (NIWA - New Zealand),101,Maupuia,,,

stakeholders: Alessandra.MonerrisBelda@bom.gov.au, simon.wood@niwa.co.nz, nigel.atkinson@metoffice.gov.uk

[2020-10-07 07:34] efucile opened #23 "use of GRIB and BUFR registers in codes.wmo.int"
An analysis of the users of codes.wmo.int is required to be able to decide whether to start a regular process of updating GRIB and BUFR entries in the registry.
The analysis is made with two different approaches.
1. Inspect schemas and code in OGC standards for access to codes.wmo.int
1. Analyse logs in codes.wmo.int to provide information on the user base.

[2020-10-09 11:53] DavidBerryNOC opened #24 "Additions to Common Code Table C-3 Instrument make and type for water temperature profile measurements."
# Branch
https://github.com/wmo-im/CCT/tree/issue-24

# Summary and purpose
This document proposes new entries in Common Code Table C3 in order to represent the full range of profiling floats used.
Stakeholder: Mathieu Belbeoch: mbelbeoch@jcommops.org

# Action proposed
The team is requested to approve the contents for inclusion in the next update to the WMO manual on Codes. The team is also reque

[2020-10-13 11:34] amilan17 commented on #6
Approved by FT-2020-2.

[2020-10-13 11:34] #6 closed

[2020-10-13 11:35] amilan17 commented on #7
Approved by FT-2020-2.

[2020-10-13 11:35] #7 closed

[2020-10-13 11:38] amilan17 commented on #4
Approved by FT-2020-2.

[2020-10-13 11:38] #4 closed

[2020-10-13 11:41] amilan17 commented on #13
Approved by FT-2020-2.

[2020-10-13 11:41] #13 closed

[2020-10-13 11:41] amilan17 commented on #12
Approved by FT-2020-2.

[2020-10-13 11:41] #12 closed

[2020-10-13 11:42] amilan17 commented on #11
Approved by FT-2020-2.

[2020-10-13 11:42] #11 closed

[2020-10-13 11:43] amilan17 commented on #8
Approved by FT-2020-2.

[2020-10-13 11:43] #8 closed

[2020-10-13 11:43] amilan17 commented on #9
Approved by FT-2020-2.

[2020-10-13 11:43] #9 closed

[2020-10-13 11:44] amilan17 commented on #10
Approved by FT-2020-2.

[2020-10-13 11:44] #10 closed

[2020-10-13 11:52] amilan17 commented on #21
All issues were approved by FT-2020-2.

[2020-10-13 11:52] #21 closed

[2020-10-16 10:40] tomkralidis commented on #23
Request sent to the OGC MetOcean Domain Working Group mailing list for discussion: http://lists.opengeospatial.org/pipermail/meteo.dwg/2020-October/001972.html

[2020-10-21 06:30] Annie-FangZHAO opened #26 "Add new entry to Common Code Table C-5 to identify HY-2C satellite of China"
# Branch
https://github.com/wmo-im/CCT/tree/issue-26

# Summary and purpose
This document proposes a new entry to Common Code Tables C-5 to identify HY-2C satellite of China.

# Action proposed
The meeting is kindly invited to validate the proposed new entry to be included within the next update to the WMO Manual on Codes.

# Discussions
HY-2C is the second operational satellite of the marine dyna

[2020-11-02 03:27] tomkralidis commented on #23
Updates/responses:
- http://lists.opengeospatial.org/pipermail/meteo.dwg/2020-October/001973.html
- http://lists.opengeospatial.org/pipermail/meteo.dwg/2020-October/001974.html

[2020-11-02 11:17] marqh commented on #23
I have been looking to the analysis of logs for the codes.wmo.int service.

in terms of read access logs, all that is logged by the service is IP addresses for individual GET requests.  This is fine grained web server logging, without any context on who is at the other end of the IP, nor any information on usage.

We could consider looking at access at some sort of statistical level, with some wor

[2020-11-02 13:53] blchoy commented on #23
If I remember correctly, the discussion was on the popularity of going into the Codes Registry to look for table entries instead of the online documents and if so, there will be more pressing need to update it at a more timely pace.

[2020-11-02 15:24] amilan17 commented on #23
The codes registry was mentioned briefly in a couple of the recent Task Teams in reference to _potentially_ being a resource for understanding or use in other standards.

I think we should be asking _how_ can we make the codes registry more useful, because the Code Registry provides immutable URLs to codes defined by WMO standards and it has the potential to enable integration with systems and sta

[2020-11-02 16:29] tomkralidis commented on #23
echo @amilan17 .  A managed and versioned WMO code list registry will be a valuable resource that can be used/cached by various information communities.

[2020-11-03 01:42] blchoy commented on #23
We will have to be careful with regard to the expected use of the Codes Registry from different perspectives.  Back in 2013, I raised a question whether the Codes Registry could be used for online validation (see [this](https://github.com/wmo-im/CCT/files/5478842/TT-AvXML-3-Doc17-final.docx) document for details) and the answer at that time was obviously no as that was not the intended use.  So if

[2020-11-03 01:51] efucile commented on #23
@amilan17 currently we are not updating GRIB and BUFR entries the problem is Should we start doing it?

[2020-11-03 02:02] blchoy commented on #23
That's why I am asking the expected service level of the Codes Registry.  If it is similar to other documents on the WMO website (i.e. supposed to be used by human) then it is absolutely fine if we take a slightly layback approach in updating and service provision.  If we are going to support machine-to-machine access then the service level should be much higher.  At this point a better understand

[2020-11-03 03:20] efucile commented on #23
There are two aspects of the issue.
1. Is codes.wmo.int suitable for machine-to-machine?
2. do we have a requirement for GRIB and BUFR codes to be published on codes.wmo.int?
These are two separate issues. The answer to 1. is yes. However, depending on the registry service level this can be done on the live system or on a cached copy or on a static copy of the content. The strategy to be used is u

[2020-11-03 06:35] blchoy commented on #23
This is indeed correct.  GRIB and BUFR are supposed to be self-contained.  The reason why IWXXM is using some of the BUFR code tables is due to historic reason: That BUFR sequences had been defined for some of the aviation reports but before they were formally adopted, the aviation community had abandoned them and start over with XML/GML.  The initial version of IWXXM are using some of the BUFR co

[2020-11-03 13:39] SimonElliottEUM commented on #26
Thanks for organising this @Annie-FangZHAO . EUMETSAT fully support this proposal.

[2020-11-05 12:35] amilan17 commented on #20
In progress. See https://github.com/wmo-im/BUFR4/issues/23

[2020-11-06 03:31] jitsukoh commented on #23
The decision to put GRIB2/BUFR4 tables on the codes registry was made by the Secretariat, and therefore TT-TDCF is not in the position to decide to continue/discontinue. That said, my opinion is:

- The priority should be given to maintain operational codes, for which WMO is responsible. In that sense, the issue of IWXXM's using BUFR4 tables should be resolved, and I support the approach proposed

[2020-11-06 08:22] efucile commented on #23
I agree with all the points made by Jitsuko. I would like only to add.
1. The choice of publishing GRIB and BUFR tables on codes registry was not only Secretariat. It was made by IPET-DD with the argument that the codes registry complements other ways of publishing the code tables and is not the authoritative source. From that time things evolved and now the codes registry is the authoritative sou

[2020-11-10 11:04] amilan17 commented on #20
[CCT-2020-Nov-10.zip](https://github.com/wmo-im/CCT/files/5516728/CCT-2020-Nov-10.zip)
Please test this new zip of CCT XML.

Differences (aside from amendments) from May 2020 version:
1. No TXT files
2. No XSD files
3. Schema declaration is removed `xsi:noNamespaceSchemaLocation="Common_C02_20200506_en.xsd"`
4. 'Common', date and '_en' removed from XML tags. For example, `Common_C02_20200506_en` i

[2020-11-10 13:49] erget commented on #20
These imported just fine into the Vocabulary Manager.

[2020-11-12 09:44] amilan17 commented on #20
@wmo-im/tt-tdcf -- Can anyone else on the team confirm that this works for you?
https://github.com/wmo-im/CCT/files/5516728/CCT-2020-Nov-10.zip
Thanks

[2020-11-12 22:17] marijanacrepulja commented on #20
Hi @amilan17,

I have used csv files from branch createMachineCodes, and it worked OK for me. Could you please just confirm that is the right branch to pull latest csv files. Many thanks.

[2020-11-13 08:00] amilan17 commented on #20
@marijanacrepulja - Thank you. After the validation is complete, I will merge the createMachineCodes branch with Master.

[2020-11-13 08:42] efucile opened #27 "Changes to Manual on Codes Introduction and General Provisions"
As a consequence of WMO reform, we have new Constituent bodies and structures. Therefore several changes are needed to reflect the new structures in the General Provisions.
Some more changes are required to introduce WIGOS and the Earth System approach.
The Secretariat will produce an amended version of the Manual along these lines.

[2020-11-27 00:41] Annie-FangZHAO commented on #26
@amilan17 I have checked the proposal. It looks fine. Please merge it into the validation branch. Thank you.

[2020-11-27 07:58] amilan17 opened #29 "Revise Publication to "Latest Version" Page on Community"
# Summary and purpose
I'd like to simplify what is published to Community, but I need to understand what is important to keep.
[Current](https://community.wmo.int/activity-areas/wmo-codes/manual-codes/latest-version)
[Previous](https://community.wmo.int/activity-areas/wmo-codes/manual-codes/previous-versions/2020-05-06)

# Discussions

1.  Remove docs/pdfs of different sections of the manual, beca

[2020-11-27 08:05] amilan17 commented on #20
Machine-readable codes are published to https://community.wmo.int/activity-areas/wmo-codes/manual-codes/latest-version.

[2020-11-27 08:05] #20 closed

[2020-11-27 08:29] amilan17 commented on #26
@Annie-FangZHAO Please update this branch first: https://github.com/wmo-im/CCT/blob/issue-26/C05.csv.

[2020-11-29 06:54] Annie-FangZHAO commented on #26
@amilan17 It's done. Thank you.

[2020-11-30 09:57] amilan17 commented on #26
Thank you. it is issue-26 is now merged with validation branch.

[2020-12-09 13:23] amilan17 opened #31 "This is a new issue for demo purpose"
# Summary and purpose

Enter text.

# Action proposed

Enter text.

# Discussions

Requirements and purposes of the proposal along with other background information, which could be included in the SUMMARY OF MEETING REPORT.

# Detailed proposal

Details of proposal.

[2020-12-09 14:01] sebvi commented on #29
For us at ECMWF it is vital to have a pdf (or word but pdf is better) published at the same time and if possible with the change from previous version highlighted in red. We use mostly the pdf in our day to day work.

The txt/csv and the xml version are the machine oriented side of the publication and the pdf and/or word are the human oriented side of the publication.

[2020-12-09 14:11] erget commented on #29
I agree with @sebvi that the PDFs should be complete for all sections of the manual, even though I am primarily a user of the machine-readable items.

[2020-12-10 14:21] amilan17 commented on #29
@sebvi @erget Thank you for your feedback. 

The final publication with all the recent fast-track amendments will not always be available at the same time that the amendments become 'operational' and this will never have the changes highlighted. 

Could you rely on the last version published and the PDF of amendments (that shows what's changed), instead? This is an example of what we currently hav

[2020-12-10 14:54] erget commented on #29
@amilan17 this works for me, as the operational tables are the ones I tend to use as PDF.

[2021-01-21 15:23] amilan17 opened #37 "Update C0.csv for FT-2021-1"
**Branch**

https://github.com/wmo-im/CCT/tree/issue37

[2021-01-21 16:37] amilan17 opened #40 "Update tables with editorial changes"
# Branch

https://github.com/wmo-im/CCT/tree/issue40

# Summary and purpose

Fix editorial inconsistencies in FT-2020-2 amendments found by copyeditor after codes were released. 

# Detailed proposal

Update table C-2, C-14, C-11.

[2021-01-21 16:47] amilan17 commented on #40
CCT C-2
https://github.com/wmo-im/CCT/commit/a0654ea5953580121f527984851fb845b15ffe18?branch=a0654ea5953580121f527984851fb845b15ffe18&diff=unified

[2021-01-21 16:55] amilan17 commented on #40
C-11
https://github.com/wmo-im/CCT/commit/a6d1f48fda63d31b2637c2479aea857bc7f9b438#diff-aa1815ced4217d508f0fadff11eeafbd8d8de35f9eada9c3a5efe5c42185706a

[2021-01-21 17:03] amilan17 commented on #40
C-14
https://github.com/wmo-im/CCT/commit/f3f062819657bec683645d0081ac73b2d0792c19#diff-8a40d87c8a970964b4a0344ea937cc085d051a68cf483bdc35a8f3891f0e50e7

[2021-01-27 01:15] tomkralidis commented on #23
Example of value of codes.wmo.int:

As part of our work in the OGC MetOcean Domain Working Group, we are working on a MetOcean best practice profile of the emerging OGC API - Records standard (for search).  This will enable community-based interoperability for weather/climate/water efforts in OGC APIs, in addition to mass market support to lower the barrier to discovery, access, and visualization

[2021-01-27 05:56] blchoy commented on #23
@tomkralidis: We should be careful when we use the code lists beyond their intended applications.  They are developed to support the respective BUFR sequences or IWXXM schemas and are both domain and application specific.  There is no guarantee that the tables and the respective sequences or schemas will be developed in line with your application; in the worst case when the sequences and schemas a

[2021-01-28 16:47] tomkralidis commented on #23
@blchoy thanks for the info.  Perhaps this can be part of the assessment of downstream information communities (usual suspects or not), if they find value in using codelists/vocabularies created/managed by other entities/communities?

[2021-01-29 02:14] blchoy commented on #23
So this goes back to Enrico's original question: Whether there is a need to expose GRIB and BUFR tables through Codes Registry?  The existing GRIB and BUFR applications are happy without having their tables on the Codes Registry. It is also weird if we expect people use these sequences/tables beyond their intended purposes.

In view of existing amount of work and team resources, I believe these ar

[2021-02-10 20:06] chris-little commented on #23
I am speaking as a WMO/OMM outsider now. It seems to me that the thread above has both strategic and tactical issues to be tackled.
Strategic:
1. The tables of the TDCFs, and TACs, are the semantic underpinnings of potentially many data representations.
2. The content of the tables, maintained by WMO as authoritative, international, multi-lingual statements of its expertise, also form the basis of

[2021-02-11 15:23] amilan17 opened #44 "Validate Machine Readable Codes - 20210615 Release Candidate"
# Summary and purpose

To ensure that the v36RC machine-readable codes are valid and ready for testing during the comment period. 

# Action proposed

1.  Assign key individuals to test
2.  Confirm file validation

# Discussions

# **Machine-Readable Files**

*   [ ] C00.xml
*   [ ] C00.xml
*   [ ] C00.xml
*   [ ] C00.xml
*   [ ] C00.xml

[2021-02-11 15:23] amilan17 opened #45 "Validate Machine Readable Codes - 20210615 Release Candidate"
# Summary and purpose

To ensure that the v36RC machine-readable codes are valid and ready for testing during the comment period. 

# Action proposed

1.  Assign key individuals to test
2.  Confirm file validation

# Discussions

# **Machine-Readable Files**

*   [ ] C00.xml
*   [ ] C00.xml
*   [ ] C00.xml
*   [ ] C00.xml
*   [ ] C00.xmlC00.xml

[2021-02-11 15:23] amilan17 opened #46 "Validate Machine Readable Codes - 20210615 Release Candidate"
# Summary and purpose

To ensure that the v36RC machine-readable codes are valid and ready for testing during the comment period. 

# Action proposed

1.  Assign key individuals to test
2.  Confirm file validation

# Discussions

# **Machine-Readable Files**

*   [ ] C00.xml
*   [ ] C00.xml
*   [ ] C00.xml
*   [ ] C00.xml
*   [ ] C00.xmlC00.xmlC00.xml

[2021-02-11 15:23] amilan17 opened #47 "Validate Machine Readable Codes - 20210615 Release Candidate"
# Summary and purpose

To ensure that the v36RC machine-readable codes are valid and ready for testing during the comment period. 

# Action proposed

1.  Assign key individuals to test
2.  Confirm file validation

# Discussions

# **Machine-Readable Files**

*   [ ] C00.xml
*   [ ] C00.xml
*   [ ] C00.xml
*   [ ] C00.xml
*   [ ] C00.xmlC00.xmlC00.xmlC00.xml

[2021-02-11 15:23] amilan17 opened #48 "Validate Machine Readable Codes - 20210615 Release Candidate"
# Release Candidate

[https://github.com/wmo-im/CCT/releases/tag/v2021-06-15RC](https://github.com/wmo-im/CCT/releases/tag/v2021-06-15RC)

# Summary and purpose

To ensure that the machine-readable codes are valid and ready for testing during the comment period. 

# Action proposed

1.  [x] identify key individuals to test
2.  [x] confirm file validation

# Discussions

# **Machine-Readable Files*

[2021-02-11 15:27] #44 closed

[2021-02-11 15:27] #45 closed

[2021-02-11 15:27] #46 closed

[2021-02-11 15:27] #47 closed

[2021-02-24 13:47] amilan17 commented on #48
follow up on where C06 is or should be.

[2021-02-24 17:16] amilan17 opened #49 "remove status column"
All values in CSV have status of Operational.

[2021-03-16 11:14] amilan17 commented on #29
This is the page where I post links to all recent amendments: [https://community.wmo.int/activity-areas/wis/wis-manuals](https://community.wmo.int/activity-areas/wis/wis-manuals)

This is the page where I post links to the 'machine-readable codes': https://community.wmo.int/activity-areas/wmo-codes/manual-codes/latest-version

[2021-03-18 07:52] erget commented on #48
@amilan17 I see you've assigned this to me, is there something new to be done? I've already provided my feedback on the machine-readable CCTs via Simon.

[2021-03-18 08:32] amilan17 commented on #48
@erget - thanks, I forgot that the CCTs were included in the convo with Simon. So, nothing new to do if all was well before.

[2021-03-19 13:56] amilan17 commented on #48
@erget - one question, did you validate the XML or the CSVs?

[2021-03-19 14:07] erget commented on #48
Both

Sent from my phone.

Le 19 mars 2021 14:56, Anna Milan ***@***.***> a écrit :
WARNING: This email originated outside the organisation. Treat links and attachments with caution.

@erget<https://github.com/erget> - one question, did you validate the XML or the CSVs?

-
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/wmo-im/C

[2021-03-22 07:23] SimonElliottEUM commented on #48
@amilan17  @erget  It looks like you have this issue covered between you. If you need me to intervene, please let me know

[2021-03-23 13:40] amilan17 commented on #12
@sebvi 

Is "**lambda^1**" the correct representation to print in the manual?

[2021-03-23 14:31] sebvi commented on #12
strictly speaking it should be 2λ<sup>1</sup>

[2021-03-31 09:32] marijanacrepulja opened #50 "Add new entry to Common Code Table C-5 to identify Nimbus-1 and Nimbus-2 satellite"
# Branch
https://github.com/wmo-im/CCT/tree/issue50

# Summary and purpose

ECMWF proposes a new entry to Common Code Tables C-5 to identify NIMBUS 1 and NIMBUS 2 satellites.

# Action proposed

The team is kindly asked to validate the proposed new entries to be included within the next update to the WMO Manual on Codes.

# Discussions

ECMWF is preparing for ERA6 and need to pre-process and assim

[2021-04-02 21:35] marijanacrepulja opened #51 "Add new entries to Common Code Table C-8 to identify rescued data from Spascia"
# Branch

https://github.com/wmo-im/CCT/tree/issue51

# Summary and purpose

ECMWF proposes a new entry to Common Code Tables C-8 to identify data from rescued satellite instruments.

# Action proposed

The team is kindly asked to validate the proposed new entries to be included within the next update to the WMO Manual on Codes.

# Discussions

ECMWF is preparing for ERA6 and need to pre-process a

[2021-04-08 10:34] yg31 opened #52 "Add new entry in Common Code Table C12 to identify Saint-Denis (Réunion) as a sub-centre for Lannion (France)"
# Branch
https://github.com/wmo-im/CCT/tree/issue52

# Summary and purpose

Addition of a new entry in Common Code Table C-12 to properly identify satellite data received at Saint-Denis (La Réunion), encoded in BUFR at Lannion (France) and disseminated by EUMETSAT.

# Action proposed

The team is kindly asked to validate the proposed new entriy to be included within the next update to the WMO Manu

[2021-04-12 16:49] marijanacrepulja opened #53 "New data category for Lidar (ground based) in Common Code Table C–13"
# Branch

https://github.com/wmo-im/CCT/tree/issue53

# Summary and purpose

ECMWF proposes new entry to the Common Code Tables C-13 in order to represent Lidar ground based observations.

# Action proposed

The meeting is kindly asked to approve the contents for inclusion within the next update to the WMO Manual on Codes.

# Discussions

ECMWF is preparing for monitoring and assimilation of groun

[2021-04-14 12:55] amilan17 commented on #48
validation complete

[2021-04-19 09:32] sebvi opened #55 "CCT 14: new chemical constituents/aerosols"
# Branch

https://github.com/wmo-im/CCT/tree/issue55

# Summary and purpose

# Action proposed
The team is kindly asked to review and approve the contents for inclusion within the next update to the WMO Manual on Codes.

# Discussions
ECMWF is proposing to include 2 new entries in common code table 14:

- Anthropogenic volatile organic compounds
- biomass burning volatile organic compounds

These

[2021-04-21 13:56] amilan17 commented on #51
@SimonElliottEUM will cross check with the CGMS Task Force

[2021-04-21 14:06] amilan17 commented on #53
per discussion in meeting: C13 is for listing sub-categories listed in BUFR Table A. 

In Table A:

<table><tbody><tr><td>23</td><td>Lidar (satellite)</td></tr></tbody></table>

Marijana will update with sub-categories

[2021-04-22 08:33] SimonElliottEUM commented on #51
CGMS Task Force consulted and given until 3 May to raise any objections

[2021-04-22 10:53] amilan17 commented on #52
per meeting discussion: will be confirmed if it is ok to drop the accent, in validation, branch will be created

[2021-04-22 12:10] #22 closed

[2021-04-22 12:10] #24 closed

[2021-04-22 12:10] #26 closed

[2021-04-22 12:10] #37 closed

[2021-04-22 12:10] #40 closed

[2021-04-22 12:10] #48 closed

[2021-04-30 12:51] #31 closed

[2021-05-13 18:36] jbathegit opened #57 "new entry in CCT-13 for marine surface drones"
# Branch
https://github.com/wmo-im/CCT/tree/issue57

# Summary and purpose

A new entry in CCT-13 is proposed for use with uncrewed marine surface drones.

# Discussions

Increasing use is being made of uncrewed drones for marine surface and subsurface observations.  These are platforms that can be actively remote-controlled by a human or even pre-programmed to maneuver themselves along a certain

[2021-05-13 18:48] jbathegit commented on #57
Hello @wmo-im/tt-tdcf, I'd like to propose this short item for discussion/consideration as part of FT-2021-2.

I would welcome alternative suggestions for the meaning of the proposed new subcategory, if anyone has any better ideas based on the details provided within the URL of the example in the main discussion.

[2021-05-17 07:30] SimonElliottEUM commented on #57
@jbathegit I don't think you need to say "Uncrewed" and "drone". I would either say "Uncrewed surface vehicle" or "Surface drone".

[2021-05-18 14:43] sebvi commented on #55
branch updated

[2021-05-18 15:37] amilan17 opened #58 "Normalize CCT Notes"
# Purpose

To normalize all notes in PDF and include reference to in CCT tables on GitHub.

[2021-05-18 16:32] jbathegit commented on #57
Thanks @SimonElliottEUM for the feedback.  Out of those two suggestions, my preference would be the first one, so I've gone ahead and updated the proposal accordingly.

[2021-05-19 05:44] SimonElliottEUM commented on #57
@jbathegit 👍

[2021-05-19 12:52] amilan17 commented on #52
related to ISSUE: wmo-im/BUFR4#55

[2021-05-19 12:58] SimonElliottEUM commented on #51
CGMS considered this and did not raise any objections. So this can be considered endorsed by CGMS TFSDC

[2021-05-19 13:14] jbathegit commented on #57
The TT-TDCF agreed to this proposal during our 19 May 2021 plenary discussions.

[2021-05-19 13:43] jbathegit commented on #57
Hello @amilan17 and @jitsukoh, I have now updated the `issue57` branch with the above proposal, as agreed during our plenary discussions.

[2021-05-19 23:49] jitsukoh commented on #55
@sebvi @amilan17 I confirm that this proposal is finalized and the branch is updated, and move this issue to "Validated" status.

[2021-05-19 23:52] jitsukoh commented on #57
@jbathegit @amilan17 I confirm that this proposal is finalized and the branch is updated, and move this issue to "Validated" status.

[2021-05-25 12:58] marijanacrepulja commented on #53
Hello @jitsukoh  I have updated the issue53 branch.

[2021-05-25 13:34] marijanacrepulja commented on #50
Hello @jitsukoh, I have updated the issue50 branch.

[2021-05-25 15:37] marijanacrepulja commented on #51
Hello @jitsukoh, I have updated the issue51 branch.

[2021-05-26 08:56] jitsukoh commented on #51
@marijanacrepulja @amilan17 I confirm that this proposal is finalized and the branch is updated, and move this issue to "Validated" status.

[2021-05-26 08:57] jitsukoh commented on #50
@marijanacrepulja @amilan17 I confirm that this proposal is finalized and the branch is updated, and move this issue to "Validated" status.

[2021-05-26 09:26] jitsukoh commented on #53
@marijanacrepulja thank you for updating the branch. If I understand correctly, this proposal consists of two parts: to add new entry 32 Lidar (ground based) in [BUFR table A](https://github.com/wmo-im/BUFR4/blob/master/BUFR_TableA_en.csv) and then, to add a new entry 0 Wind, cloud, aerosol under the new sub-category 32 in C-13, so I think the change included in this branch is not enough and we al

[2021-06-07 10:36] amilan17 commented on #53
if Table A needs to also be modified, then create a new issue in the BUFR repository and I will create a branch to edit.

[2021-06-08 13:12] marijanacrepulja commented on #53
@jitsukoh thank you for your comments, I have updated the original post with suggested wording and created new issue under BUFR repository for updating BUFR table A with the new data category.

[2021-06-14 07:06] jitsukoh commented on #53
@amilan17 can you provide the difference between this branch and the master? I will check it and move this issue to validated...

[2021-06-14 09:10] amilan17 commented on #53
[https://github.com/wmo-im/CCT/compare/master...issue53](https://github.com/wmo-im/CCT/compare/master...issue53)

[2021-06-16 21:22] jitsukoh commented on #53
@marijanacrepulja @amilan17 it seems there are no spaces between words in "Wind,Cloud,Aerosol". Is it correct?

[2021-06-29 09:45] marijanacrepulja commented on #53
@jitsukoh I have updated the issue53 branch by adding the spaces between words in "Wind, Cloud, Aerosol".

[2021-06-29 11:03] amilan17 commented on #52
DECISION: update branch without the accent

[2021-06-30 00:55] jitsukoh commented on #53
@marijanacrepulja thank you for updating the branch. I confirm that this proposal is finalized and the branch is updated, and move to validated status.

[2021-06-30 00:56] jitsukoh commented on #52
@amilan17 can you update the branch according to the decision yesterday?

[2021-06-30 07:05] amilan17 commented on #52
done. @jitsukoh

[2021-06-30 07:10] jitsukoh commented on #52
@amilan17 thank you. I confirm that the proposal is finalized, branch is updated and I move this issue to validated status.

[2021-07-29 01:10] manfredsc opened #61 "spelling: milimetre in C08.csv"
code 163 in table C08.csv has "Sub-milimetre", which should be "Sub-millimetre", with a double "l".
I guess the spelling "metre" (as opposed to "meter") is OK, as such spelling is used elsewhere, too.

[2021-07-29 11:15] manfredsc opened #62 "stray tab in C05.csv, code 530"
In C05.csv, CodeFigureForI6I6I6=530 there is a stray tab at be beginning of column 4, which should be removed.
This is only visible in raw csv, in the web interface this does not show up.

[2021-07-29 13:37] manfredsc commented on #62
Oh, I see this issue is already covered by https://github.com/wmo-im/CCT/pull/59
So when this pull request is merged, this issue will be resolved.
Closing.

[2021-07-29 13:37] #62 closed

[2021-09-02 01:07] jitsukoh commented on #61
Thank you @manfredsc for pointing out. We will correct it in the next cycle.
@amilan17 it seems correction needs to be made both in the Manual and the CSV. Could you add labels/projects to this issue?

[2021-09-06 08:24] Annie-FangZHAO opened #63 "Add new entries to C-5 to identify HY-2D, FY-3E and FY-4B satellites of China"
# Branch
https://github.com/wmo-im/CCT/tree/issue63

# Summary and purpose

This document proposes new entries to Common Code Tables C-5 to identify HY-2D, FY-3E and FY-4B satellites of China.

# Action proposed

The meeting is kindly invited to validate the proposed new entries to be included within the next update to the WMO Manual on Codes.

# Discussions

HY-2D was launched in May this year. I

[2021-09-13 04:20] Annie-FangZHAO opened #64 "Add a new entry to C-2 for radiosonde of China"
# Branch
https://github.com/wmo-im/CCT/tree/issue64
# Summary and purpose
This document proposes a new entry to Common Code Table C-2 to identify new radiosonde of China.

# Action proposed
The meeting is kindly invited to review the proposed new entry and approve it for pre-operational use and inclusion within the next update to the WMO Manual on Codes.

# Discussions
Duing FT2020-2 period, three

[2021-09-23 12:46] #57 closed

[2021-09-23 12:46] #55 closed

[2021-09-23 12:47] #50 closed

[2021-09-23 12:47] #51 closed

[2021-09-23 12:47] #52 closed

[2021-09-23 12:47] #53 closed

[2021-09-23 12:59] amilan17 commented on #58
All notes are associated with tables and not codes.

[2021-09-28 17:07] SibylleK opened #65 "Add new entries in C-14 for Tellurium 131 and Neodymium 137"
# Branch

https://github.com/wmo-im/CCT/tree/issue65

# Summary and purpose

Request of two additional atmospheric chemical constituents in Common code table C-14.

# Action proposed

The team is kindly asked to review and approve the content for inclusion within the next update to the WMO Manual on Codes.

# Discussions

We ask for two additional radionuclides:
• Tellurium 131
• Neodymium 137

#

[2021-09-29 14:16] sebvi opened #66 "Add new Centre in C-11"
# Branch
https://github.com/wmo-im/CCT/tree/issue66
# Summary and purpose

ECMWF, supporting UFZ (Helmholtz Centre for Environmental Research), is requesting to add a new entry in Common Code Table 11 for UFZ.

# Action proposed

The team is invited to review and approve the proposal

# Discussions

The Copernicus Climate Change Service (C3S), operated by ECMWF, is going to make available a new da

[2021-10-01 08:56] SimonElliottEUM opened #67 "Add new entry to Common Code Table C-8 for SWIM instrument on CFOSAT"
# Branch

\[add when created\]

# Summary and purpose

Data from the SWIM instrument on the CFOSAT satellite are being converted into BUFR for international exchange. A suitable entry for the instrument is needed. Entry number 36 is available and would be appropriate.

# Action proposed

Allocate entry 63 in Common Code Table C-8 for SWIM

# Discussions

Standard request for new entry in common co

[2021-10-01 09:57] shahramn commented on #66
The acronym UFZ stands for "Umweltforschungszentrum". Nice long German word!

[2021-10-01 11:53] SimonElliottEUM opened #68 "New entries needed in Common Code Table C-5 for EUMETSAT satellites"
# Branch
https://github.com/wmo-im/CCT/tree/issue68
# Summary and purpose

The naming convention for EUMETSAT's next generation of geostationary (MTG) and polar (Metop-SG) satellites has been confirmed and needs to be captured in Common Code Table C-5

# Action proposed

Add entries to common code table C-5

# Discussions

The number of next generation satellites is well know and fixed. The naming

[2021-10-01 12:18] SimonElliottEUM opened #69 "Add new entry to Common Code Table C-8 for Meteosat Third Generation (MTG) instruments"
# Branch
https://github.com/wmo-im/CCT/tree/issue69

# Summary and purpose

Data from the four instruments on the Meteosat Third Generation (MTG) satellites will be converted into BUFR for international exchange. Suitable entries for the instruments are needed.

# Action proposed

Allocate entries 210 - 213in Common Code Table C-8 as per detailed proposal

# Discussions

Standard request for new e

[2021-10-04 06:37] SimonElliottEUM opened #70 "Add new entry to Common Code Table C-8 for Metop Second Generation (Metop-SG) instruments"
# Branch

\[add when created\]

# Summary and purpose

Data from the nine instruments on the Metop Second Generation (Metop-SG) satellites will be converted into BUFR for international exchange. Suitable entries for the instruments are needed.

# Action proposed

Allocate entries 210 - 213 in Common Code Table C-8 as per detailed proposal

# Discussions

Standard request for new entry in common co

[2021-10-05 08:04] #29 closed

[2021-10-05 13:32] amilan17 commented on #67
36 or 63?

[2021-10-05 14:50] SimonElliottEUM commented on #67
@amilan17 In fact it would work with either 63 or 36, but I request 63 (sixty three) in this case. I regret the wrong typing, but I was talking in German and writing in English, and we say the numbers the opposite way around.

[2021-10-05 14:54] SimonElliottEUM commented on #70
@amilan17 I made a small typographic error in the Action Proposed section (thanks for spotting that @sebvi ). The text should refer to "entries 230 - 238"

[2021-10-06 13:23] sebvi commented on #65
looks good to me so I support this proposal

[2021-10-08 14:06] amilan17 opened #71 "New new entry in CCT C-2 for Meteosis radiosonde system"
# Branch
https://github.com/wmo-im/CCT/tree/issue71
# Summary and purpose

The Observation Systems Department of Turkish State Meteorological Service (TSMS) has completed test flights, approved the Meteosis' radiosonde system and need a new code in Table C-2 for their radiosonde system.

# Detailed proposal 

| **Date of assignment** | **Code figure for rara** | **Code figure for BUFR** | **Radios

[2021-11-09 11:55] jitsukoh commented on #71
@amilan17 here is the additional information provided by Yasin. Could you find a code figure available for this?
1) The system's name is "Meteosis MTS-01"
2) The system supports both TAC and BUFR formats.

[2021-11-09 13:41] amilan17 commented on #65
@amilan17 create branch

[2021-11-09 13:50] SimonElliottEUM commented on #69
@jitsukoh @amilan17 This branch is ready for the next step

[2021-11-09 13:51] SimonElliottEUM commented on #70
@jitsukoh @amilan17 This branch is ready for the next step

[2021-11-09 13:53] SimonElliottEUM commented on #67
@jitsukoh @amilan17 This branch is ready for the next step

[2021-11-09 13:54] SimonElliottEUM commented on #68
@jitsukoh @amilan17 This branch is ready for the next step

[2021-11-09 23:58] jitsukoh commented on #66
@sebvi I confirm that the branch is updated. Can you change the "Status" of the original post to "Operational" so that the finalized proposal matches with the branch?

[2021-11-10 11:14] amilan17 commented on #61
branch is ready

[2021-11-10 14:48] amilan17 commented on #68
@SimonElliottEUM can you please update the branch with your proposal?

[2021-11-10 14:48] amilan17 commented on #67
@SimonElliottEUM - please update the branch

[2021-11-10 14:49] amilan17 commented on #70
@SimonElliottEUM please update the branch

[2021-11-10 14:50] amilan17 commented on #69
please update the branch

[2021-11-10 14:57] amilan17 commented on #71
@jitsukoh branch is updated. Does the date of assignment correspond with the FT release date?

[2021-11-10 15:37] SimonElliottEUM commented on #67
@jitsukoh @amilan17 This branch is now really ready for the next step - sorry for false alarm on 09/11/2021

[2021-11-10 15:58] SimonElliottEUM commented on #68
@jitsukoh @amilan17 This branch is now really ready for the next step. I have updated the CSV file accordingly

[2021-11-10 16:06] sebvi commented on #66
proposal updated. Thank you

[2021-11-11 01:25] jitsukoh commented on #66
@sebvi thank you. Moved to the validated status.

[2021-11-11 01:27] jitsukoh commented on #68
@SimonElliottEUM @amilan17  I confirm that the branch is updated and this issue was moved to the validated status.

[2021-11-11 01:32] jitsukoh commented on #67
@SimonElliottEUM @amilan17 I confirm that the branch is updated and this issue was moved to the validated status.

[2021-11-11 01:45] jitsukoh commented on #71
@amilan17 my apologies, the system name should include a country name, so I updated the proposal to "Meteosis MTS-01 (Turkey)". Can you update the branch accordingly?
I assume that the date should be the Effective date of the master table version number defined by C-0.

[2021-11-11 01:54] jitsukoh commented on #61
@amilan17 I confirm that the branch is updated and the issue was moved to the validated status.

[2021-11-11 02:18] jitsukoh commented on #64
@Annie-FangZHAO can you update the branch?

[2021-11-11 02:18] jitsukoh commented on #63
@Annie-FangZHAO can you update the branch?

[2021-11-11 02:21] jitsukoh commented on #65
@amilan17 can you create a branch and ask @SibylleK to update?

[2021-11-11 05:31] Annie-FangZHAO commented on #63
@jitsukoh @amilan17
The branch is updated. Thank you.

[2021-11-11 05:38] Annie-FangZHAO commented on #64
@jitsukoh @amilan17
The branch is updated. Thank you.

[2021-11-11 06:01] jitsukoh commented on #64
@Annie-FangZHAO thank you for updating!
@amilan17 I confirm that the branch is updated, except for the effective date, and I moved to this issue to the validated status.

[2021-11-11 06:02] jitsukoh commented on #63
@Annie-FangZHAO thank you for updating.
@amilan17 I confirm that the branch is updated and the issue was moved to the validated status.

[2021-11-11 06:55] SimonElliottEUM commented on #69
@jitsukoh @amilan17 This branch is now really ready for the next step. I have updated the CSV file accordingly

[2021-11-11 07:17] SimonElliottEUM commented on #70
@jitsukoh @amilan17 This branch is now really ready for the next step. I have updated the CSV file accordingly

[2021-11-11 07:44] jitsukoh commented on #69
@SimonElliottEUM thank you for updating the branch.
@amilan17 I confirm that the branch is updated and the issue is moved to the validated status.

[2021-11-11 07:48] jitsukoh commented on #70
@SimonElliottEUM thank you for the update.
@amilan17 I confirm that the branch is updated and the issue is moved to the validated status.

[2021-11-11 11:23] amilan17 commented on #70
It's ready to merge. @SimonElliottEUM, please note that I removed "instrument" from the 3MI long name.

[2021-11-11 11:54] amilan17 commented on #69
has PR. @SimonElliottEUM, I changed Ultra-Violet and Near Infra-Red Multispectral Spectrometer (S4 UVN) to Ultraviolet and Near Infrared Multispectral Spectrometer (S4 UVN) for consistency with description at https://www.eumetsat.int/mtg-ultraviolet-visible-and-near-infrared

[2021-11-11 11:56] amilan17 commented on #63
has PR

[2021-11-11 12:01] amilan17 commented on #65
@SibylleK branch is ready for editing

[2021-11-15 14:27] sebvi commented on #65
@amilan17 : could you let Joerg from TT-WIGOSMD know that we are adding new entries in Common Code Table 14 because we may want to synchronise table 1-01-01 in WMDS repository. I tried to tag him but I don't think it works as he is not part of our team. Thanks

[2021-11-23 18:00] SibylleK commented on #65
@amilan17, branch is updated

[2021-11-29 16:46] gaochen-larc commented on #65
Not much information is available through online search about Nd-137.   Could not find any useful information about its property or its measurements.  Any hints?

[2021-12-06 15:59] SibylleK commented on #65
Dear @gaochen-larc,
Thank you very much for your comment and your investigations regarding Nd-137.
Indeed, there seems to be only little easy-to-find information (see below for a few links).
However, Nd-137 and Te-131 could be among the radionuclides of potential interest for atmospheric dispersion-modelling,
for instance, in the context of the Emergency Response Activity of the WMO:
   https://co

[2021-12-06 16:24] gaochen-larc commented on #65
@SibylleK Thank you very much for the information!  I totally can see Nd-137 can be useful to verify the atmospheric dispersion models since it does exist in the natural environment.  I think we leave the CAS and PubChem numbers blank.  Possibly add a comment to indicate this is a manmade isotope.  Comments?  Maybe we can close this issue now.

[2021-12-09 13:49] amilan17 commented on #65
@SibylleK I think this is ready, unless you want to add a note?

[2021-12-20 15:40] #58 closed

[2021-12-20 18:00] amilan17 commented on #70
@SimonElliottEUM @jitsukoh 

For editorial consistency, I changed the agency names to be separated with "/" instead of " - " -- please review this diff asap. 

e9587ff

[2021-12-21 06:22] jitsukoh commented on #70
@amilan17 thank you for the update. "/" seems like "or" but if it is the existing practice, I would agree to make them consistent.

[2021-12-21 06:40] SimonElliottEUM commented on #70
@amilan17 @jitsukoh I agree with Jitsuko. Although " - " might seem clearer, we are better off staying with the existing practice and using "/".

[2022-01-06 15:00] yg31 opened #82 "New entry in Common Code Table C12 for DBNet station of Cayenne (French Guiana)"
# Branch

\[add when created\]

# Summary and purpose

Addition of a new entry in Common Code Table C-12 to properly identify satellite data received at the DBNet station of Cayenne (French Guiana), encoded in BUFR.
A similar entry exists for the RARS station of Tahiti in the Common Code Table C-12.

# Action proposed
The team is kindly asked to validate the proposed new entry to be included withi

[2022-01-27 06:56] SimonElliottEUM commented on #82
I support the proposal. We have discussed this in the DBNet community - the addition of a new entry in CCT-C12 should be straightforward, and is needed to properly identify the data received and processed in Cayenne

[2022-02-10 12:15] SimonElliottEUM commented on #82
@amilan17 Sorry - I didn't intend to "close" the issue

[2022-02-10 12:16] SimonElliottEUM commented on #82
@amilan17 Now I see that I pressed "Close with comment" rather than "Comment" below the input box.

[2022-03-16 15:19] chenxiaoxia2019 opened #83 "Add new data designators T1T2 to Manual on the GTS (WMO-No.386) Attachment II-5"
# Summary and purpose

To add new headers in Manual on the GTS

# Action proposed

To update the Data Designators T1T2 in _[Attachment II-5](https://library.wmo.int/doc_num.php?explnum_id=10469#page=100)_ on **_Manual on the Global Telecommunication System (WMO-No.386)_**.

# Discussions

- _Basic Information_: Manual on the GTS: 2015 edition, updated in 2020

- _Requirement_: Request from DWD to

[2022-03-16 15:20] chenxiaoxia2019 commented on #83
@SimonElliottEUM Hi, Simon, I added the issue for Manual on the GTS fast track. Could you please help comment on this? Much appreciated.

[2022-03-21 06:43] Annie-FangZHAO opened #84 "Add new entries to C-8 to identify GNOS-2 and MWTS-3 on FY-3E"
# Branch

\[add when created\]

# Summary and purpose

This document proposes new entries to Common Code Tables C-8 to identify GNOS-2 and MWTS-3 instruments on FY-3E.

# Stakeholders

Fang ZHAO(CMA), Marijana Crepulja(ECMWF)

# Action proposed

The meeting is kindly invited to review and approve the proposed new entries for inclusion within the next update to the WMO Manual on Codes.

# Discussio

[2022-03-24 15:11] amilan17 opened #85 "CCT C-2 Korean equipment code for WeatheX WxR-301D"
# Summary and purpose

Initial request by: Heo Boram, KMA's National Focal Point for Codes and Data Representation Matters.

  _I would like to add a new Korean equipment code to ATTACHMENT I's COMMON CODE TABLE C-2 (Radiosonde/sound system used) as follows._

_Date of assignment of number:  21/03/2022_
_Code figure for rara : 34_
_Code figure for BUFR: 134_
_Equipment Name (Country Name) : WEATHE

[2022-03-25 16:08] marijanacrepulja opened #86 "CCT C-8 to identify satellite instruments from which data has been rescued, ALTIUS and TMS"
# Summary and purpose

ECMWF proposes a new entry to Common Code Tables C-8 to identify data from rescued satellite instruments.

# Action proposed

The meeting is kindly invited to review and approve the proposed new entries for inclusion within the next update to the WMO Manual on Codes.

# Discussions

ECMWF is preparing for ERA6 and need to pre-process and assimilate "rescued" satellite data f

[2022-03-29 11:13] amilan17 opened #87 "Correct typo in CCT 08"
# Branch

\[add when created\]

# Summary and purpose

Acronym and long name do not match. 

<table><tbody><tr><td>398</td><td>NASA</td><td>Radiometer</td><td>MRIR</td><td>Single channel IR radiometer</td></tr></tbody></table>

This code was recently introduced in Issue #51. 

---

# Detailed proposal

<table><tbody><tr><td>398</td><td>NASA</td><td>Radiometer</td><td>MRIR</td><td>Medium Resolution

[2022-03-29 12:42] SimonElliottEUM commented on #87
I am sure MRIR is the right acronym and the instrument is as described in WMO Oscar Space: "5-channel radiometer, two broad-band (0.2-4.0 μm and 5-30 μm), three narrow-band (6.4-6.9 μm, 10-11 μm and 14-16 μm). On Nimbus-3 the 5-30 μm channel was replaced by 20-23 μm". But we should let @marijanacrepulja confirm that with the source of the recovered data.

[2022-03-29 14:18] marijanacrepulja commented on #87
@amilan17 Thank you for spotting the typo. I have confirmed with my colleague and the long name should be corrected.
Medium Resolution Infrared Radiometer is the correct name as it is defined in WMO Oscar.

[2022-03-30 11:26] marijanacrepulja opened #88 "Add new entry to C-5 to identify ALTIUS, EarthCARE and TROPICS"
# Summary and purpose

ECMWF proposes a new entries to Common Code Tables C-5.

# Action proposed

The team is kindly asked to validate the proposed new entries to be included within the next update to the WMO Manual on Codes.

# Discussions

ECMWF is preparing to pre-process and assimilate observations from ALTIUS, EarthCARE and TROPICS. Therefore needed satellite identifiers are proposed.

# Det

[2022-03-31 16:06] sebvi opened #89 "Fix typo in Common Code table C-14"
# Summary and purpose

ECMWF noticed that the formula of Formic acid, entry 10005 is incorrect and propose to correct it

# Action proposed

The team is kindly asked to review and approve the contents for inclusion within the next update to the WMO Manual on Codes.

# Discussions

ECMWF noticed that the formulae of Formic acid, entry 10005 is incorrect and propose to correct it. The correct formul

[2022-04-04 16:34] amilan17 commented on #27
closing this, because this is not the responsibility of the TT-TDCF.

[2022-04-04 16:34] #27 closed

[2022-04-05 13:04] amilan17 commented on #87
I included this typo fix in the FT2022-1 branch.

[2022-04-05 13:04] #87 closed

[2022-04-05 14:02] #63 closed

[2022-04-05 14:02] #64 closed

[2022-04-05 14:02] #65 closed

[2022-04-05 14:02] #66 closed

[2022-04-05 14:02] #68 closed

[2022-04-05 14:02] #69 closed

[2022-04-05 14:03] #71 closed

[2022-04-11 17:20] jbathegit opened #91 "new entry in CCT C-14"
# Branch

\[add when created\]

# Summary and purpose

Add a new entry 62034 "Brown carbon dry" to Common Code Table C-14, for use within BUFR Table B descriptor 0-08-046 and GRIB Table 4.233.

Brown carbon is an aerosol species from wildfires, but it has different optical properties than black carbon, which is defined by existing entry 62009.

# Detailed proposal

Modify CCT C-14 as follows:

<ta

[2022-04-12 11:37] SimonElliottEUM commented on #86
@marijanacrepulja j) perhaps the title could refer to "CCT C-8 to identify satellite instruments from which data has been rescued", and ij) I will pass the proposals to the CGMS Task Group (TGSDC) for comments

[2022-04-12 11:44] SimonElliottEUM commented on #88
@marijanacrepulja TROPICS is in a low earth orbit and so needs an even decile. Perhaps you could consider proposing 227-229 and 263-266, or something similar

[2022-04-12 11:53] SimonElliottEUM commented on #86
@marijanacrepulja - I also note entries 992-994 are from a reserved range in the table. If they can be unreserved for this purpose, then there should be no problem.

[2022-04-12 11:53] SimonElliottEUM commented on #86
TGSDC has until mid-May to comment

[2022-04-13 08:16] sebvi opened #92 "Common Code Table C-14: new H2O entries"
# Summary and purpose

ECMWF is requesting new entries to characterize specific subset of water as a chemical constituent

# Action proposed

The team is kindly asked to review and approve the contents for inclusion within the next update to the WMO Manual on Codes.

# Discussions

In order to produce pH of rain and cloud water (acidity of rain/cloud), ECMWF is requesting 2 new entries to spatiall

[2022-04-21 21:36] manfredsc opened #93 "Duplicated reserved range in C00.csv"
It seems there is a merge issue in the just released tag v2022-05-15.
At the end of C00.csv, there is a duplicated reserved range:
[code]

[2022-04-27 12:48] marijanacrepulja commented on #88
@SimonElliottEUM many thanks for your comment, I have updated the issue. Could you please pass the proposals to the CGMS Task Group for comments

[2022-04-29 10:09] SimonElliottEUM commented on #88
@marijanacrepulja I have passed the updated proposal to the CGMS Task Group, and given them until the end of May to comment.

[2022-05-11 15:51] amilan17 commented on #84
@amilan17 create branch

@marijanacrepulja - need to identify team member to edit branch

[2022-05-11 15:53] amilan17 commented on #82
@amilan17 create branch

[2022-05-11 15:54] amilan17 commented on #89
@amilan17 create branch

[2022-05-16 11:47] #93 closed

[2022-05-18 12:23] SimonElliottEUM commented on #86
CGMS TGSDC has had time to consider the proposed entries and not raised any objection. They can therefore be considered to support the proposal.

[2022-05-18 13:43] amilan17 commented on #84
[https://github.com/wmo-im/CCT/wiki/Teleconference-18-and-19.5.2022](https://github.com/wmo-im/CCT/wiki/Teleconference-18-and-19.5.2022) notes:

@shirley-xuelei will update branch

[2022-05-18 13:44] amilan17 commented on #85
[https://github.com/wmo-im/CCT/wiki/Teleconference-18-and-19.5.2022](https://github.com/wmo-im/CCT/wiki/Teleconference-18-and-19.5.2022) notes:

@marijanacrepulja update branch

[2022-05-18 13:45] amilan17 commented on #86
[https://github.com/wmo-im/CCT/wiki/Teleconference-18-and-19.5.2022](https://github.com/wmo-im/CCT/wiki/Teleconference-18-and-19.5.2022) notes:

@marijanacrepulja update branch

[2022-05-18 13:45] amilan17 commented on #88
[https://github.com/wmo-im/CCT/wiki/Teleconference-18-and-19.5.2022](https://github.com/wmo-im/CCT/wiki/Teleconference-18-and-19.5.2022) notes:

waiting for feedback

[2022-05-18 13:48] amilan17 commented on #92
[https://github.com/wmo-im/CCT/wiki/Teleconference-18-and-19.5.2022](https://github.com/wmo-im/CCT/wiki/Teleconference-18-and-19.5.2022) notes:

use two entries after entries in #91

[2022-05-20 17:36] jbathegit commented on #91
The branch has been updated.

[2022-05-26 10:15] marijanacrepulja commented on #84
@shirley-xuelei thank you.
@amilan17 I have moved the issue to the validated status.

[2022-05-26 12:36] marijanacrepulja commented on #91
@jbathegit thank you.
@amilan17 I have moved the issue to the validated status.

[2022-05-26 12:48] marijanacrepulja commented on #89
@sebvi thank you.
@amilan17 I have moved the issue to the validated status.

[2022-05-27 07:17] amilan17 commented on #85
these codes are already in use for different equipment

<table><tbody><tr><td>06/05/2020</td><td>34</td><td>134</td><td>iMet-4 GPS radiosonde (USA)</td></tr></tbody></table>

[2022-05-31 08:29] amilan17 commented on #83
@SimonElliottEUM WMO is no longer updating the Manual on GTS, therefore, we cannot add this to the publication

[2022-05-31 09:43] amilan17 opened #101 "CCT-2 is missing a code in the PDF pub"
# Summary and purpose

This code is missing from the PDF version of the manual:

<table><tbody><tr><td>06/05/2020</td><td>34</td><td>134</td><td>iMet-4 GPS radiosonde (USA)</td><td>Operational</td></tr></tbody></table>

![Screenshot 2022-05-31 at 11 42 58](https://user-images.githubusercontent.com/5168866/171144471-dcf849ff-e6ea-4c9b-88e4-5a35c0e1cbde.png)

# Action proposed

include update in the

[2022-05-31 22:31] marijanacrepulja commented on #85
@amilan17 branch is updated. I have moved the issue to validated.

[2022-06-01 14:53] SimonElliottEUM opened #103 "Add new entry to C-5 for SMAP"
# Summary and purpose

EUMETSAT proposes a new entry in Common Code Tables C-5.

# Action proposed

The team is kindly asked to validate the proposed new entry to be included within the next update to the WMO Manual on Codes.

# Discussions

The SMAP data created by NASA and passed from NOAA's PDA system to EUMETSAT, where they are formatted in BUFR by EUMETSAT and passed to ECMWF only. An identif

[2022-06-01 15:00] SimonElliottEUM opened #104 "Add new entries to C-8 to identify SMAP instrument on SMAP spacecraft"
# Summary and purpose

This document proposes new entries to Common Code Tables C-8 to identify the SMAP instrument on the SMAP satellite

# Action proposed

The meeting is kindly invited to review and approve the proposed new entries for inclusion within the next update to the WMO Manual on Codes.

# Discussions

The SMAP data created by NASA and passed from NOAA's PDA system to EUMETSAT, where t

[2022-06-07 11:42] amilan17 commented on #104
@SimonElliottEUM @marijanacrepulja 

From what I can tell, the satellite is called SMAP not the instrument. Does this matter?

[2022-06-07 11:52] marijanacrepulja commented on #104
@amilan17 the same name is used for both. @SimonElliottEUM please correct me it that is not right.

[2022-06-07 11:53] SimonElliottEUM commented on #104
I believe both the satellite and instrument are called SMAP. See WMO's OSCAR Space:
https://space.oscar.wmo.int/satellites/view/smap
https://space.oscar.wmo.int/instruments/view/smap

[2022-06-07 12:56] marijanacrepulja commented on #103
@amilan17 could you please create the branch for this issue

[2022-06-08 13:22] amilan17 commented on #92
[https://github.com/wmo-im/CCT/wiki/Teleconference-8.6.2022](https://github.com/wmo-im/CCT/wiki/Teleconference-8.6.2022) notes:

@sebvi update branch and notify Marijana when ready

[2022-06-09 08:29] amilan17 commented on #92
@marijanacrepulja - I checked this branch and moved it to directly to ready for FT column

[2022-06-09 15:04] amilan17 opened #108 "Change name of Turkey"
# Summary and purpose
copy of email circa 9 June 2022
_Please note that the Republic of Turkey has changed its official name to the Republic of Türkiye on 26 May 2022, through a request submitted to the UN Secretary-General by the country's Ministry of Foreign Affairs. The United Nations HQ and UNOG has adopted this change.

WMO CPDB and Community Platform are being updated with "Türkiye".  Please

[2022-06-09 19:08] marijanacrepulja commented on #88
@amilan17 I have updated branch, please review and move to "Ready to FT"

[2022-06-10 07:59] SimonElliottEUM commented on #88
These entries looks fine to me now.

[2022-06-10 10:14] marijanacrepulja commented on #88
@SimonElliottEUM, @hpohjolawmo, @amilan17

Looking at other satellite names, it seems there is no consistency. As for the TROPICS there is the extra zero in the name (e.g TROPICS-02 instead TROPICS-2), also the use of hyphen, some satellite names have a hyphen
(eg Metop-1), some don't (NOAA 20). Do we want to use extra zero in name for TROPICS?

[2022-06-10 11:48] SimonElliottEUM commented on #88
@hpohjolawmo @amilan17 @marijanacrepulja there is no consistency - but none is needed. Each agency makes there own very specific naming conventions. Frankly, as there is no ambiguity, I would leave it up to the agencies to make their own decisions concerning the names.

[2022-06-10 12:15] marijanacrepulja commented on #88
@SimonElliottEUM I am happy with this :+1:

[2022-07-08 13:41] vturpin opened #110 "Additions to Common Code Table C-3 Instrument make and type for water temperature profile measurements."
# Summary and purpose

This document proposes new entries in Common Code Table C3 in order to represent the full range of profiling floats used.
Stakeholder:
Victor Turpin: [vturpin@ocean-ops.org](mailto:vturpin@oceanops.org).
Thierry Carval: [tcarval@ifremer.fr](mailto:tcarval@ifremer.fr)
Znghong Liu: [liuzenghong@139.com](mailto:liuzenghong@139.com)

# Action proposed

The team is requested to a

[2022-07-14 10:00] amilan17 commented on #91
@jbathegit @marijanacrepulja - Due to conflicts I changed the Code figure to 

62036,Brown carbon dry

[2022-07-14 10:05] amilan17 commented on #86
@marijanacrepulja - changed code due to conflict:

433,NASA,Spectrometer,TMS,TROPICS Millimeter-wave Sounder,Operational
434,NASA,MW radiometer,SMAP,Soil Moisture Active-Passive,Operational

[2022-07-26 15:05] SimonElliottEUM commented on #83
@chenxiaoxia2019 @amilan17 How will WMO handle cases where new letters need to be assigned in the tables in the Manual on the GTS without updating the Manual? I understand that if the WIS 2.0 plans are agreed at the end of the year (I really hope they are!) then there will be no new headers etc from 2024. But what about the next 18 months - it cannot be that there are no more changes for that peri

[2022-08-16 09:47] amilan17 opened #112 "FT2022-2 Amendment Document for FT Procedure"
## [FT2022-2 Amendment Document for FT Procedure](https://wmoomm.sharepoint.com/:b:/s/wmocpdb/ESg7p6BU5xpIvmhkCvA4UN8B_MMw02JK9TRyY1eFu6n5PQ?e=WjtblC)

The purpose of this issue is to keep track of the status of these proposed amendments during the fast-track approval procedure.

[2022-09-26 16:17] marijanacrepulja opened #113 "C08.csv, new entry to identify GEMS and OMPS-limb instruments"
### Initial request

This document proposes new entries to Common Code Tables C-8 to identify the GEMS instrument on the GEO-KOMPSAT-2B satellite, OMPS-limb

### Amendment details

Add new entries to Common Code Table C-8:
|Code|Agency|Type|Instrument short name|Instrument long name|
|:---:|:---:|:---:|:---:|:---:|
|689| ME (NIER) |  Spectrometer | GEMS| Geostationary Environmental Monitoring Spec

[2022-10-04 12:44] amilan17 commented on #108
@amilan17 will update branch

[2022-10-04 12:48] amilan17 commented on #113
[https://github.com/wmo-im/CCT/wiki/Teleconference-4.10.2022](https://github.com/wmo-im/CCT/wiki/Teleconference-4.10.2022.)  meeting notes:

@amilan17 update branch

[2022-10-04 12:49] amilan17 commented on #110
[https://github.com/wmo-im/CCT/wiki/Teleconference-4.10.2022](https://github.com/wmo-im/CCT/wiki/Teleconference-4.10.2022.)  meeting notes:

@amilan17 udpate branch

[2022-10-13 15:04] #85 closed

[2022-10-13 15:04] #86 closed

[2022-10-13 15:04] #88 closed

[2022-10-13 15:04] #89 closed

[2022-10-13 15:04] #92 closed

[2022-10-13 15:04] #101 closed

[2022-10-13 15:04] #103 closed

[2022-10-13 15:04] #104 closed, assigned to marijanacrepulja

[2022-10-14 08:48] amilan17 commented on #112
https://github.com/wmo-im/CCT/releases/tag/v2022-11-15.0

[2022-10-14 09:54] SimonElliottEUM commented on #113
For GEMS, I propose to change the agency to "ME (NIER)". NIER is the National Institute for Environmental Reseach in Korea, and they are the actual ones dealing with the instrument.

I have asked the CGMS group to comment and will confirm by end of October.

[2022-10-14 12:14] marijanacrepulja commented on #113
@SimonElliottEUM Many thanks for your help with this. I have updated the proposal with the proposed agency name.

[2022-10-31 11:05] SimonElliottEUM commented on #113
@amilan17 @marijanacrepulja there was no more input from the CGMS Group. Noting that you already updated the proposal to with the proposed agency name, it is now in line with the CGMS Group. Thanks.

[2022-11-16 10:19] #112 closed

[2022-11-21 11:58] marijanacrepulja opened #114 "C13.csv, New sub-category for aerosol"
### Initial request

This document proposes new entry to Common Code Tables C-13 in order to identify aerosols

### Amendment details

Add the new code **4 - Aerosol**   to
COMMON CODE TABLE C–13:	International data sub-categories of data categories defined by entries in BUFR Table A

| DATA CATEGORIES  |     |  INTERNATIONAL DATA SUB-CATEGORIES|      |
| ------------- | -------------| -----------

[2022-11-21 14:09] amilan17 commented on #114
https://github.com/wmo-im/CCT/wiki/Teleconference-21.11.2022 notes:
@amilan17 create branch
@marijanacrepulja will update branch